
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin user - login with your username and password</h2>

<form action="~/items/Index" method="post">
    Username: <input type="text" />
    Password: <input type="password" />
    <input type="submit" />
</form>

