
@{
    ViewBag.Title = "chickenTikka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Filename=index.cshtml,
    Author's name= Dilpreet Singh,
    website name = indianflame,
    file description = this is website of indian food . this is the index page to display
    restaurent images. all images are copyright of indian flames or thier respective owners.
-->


<div>
    <img class="large-image" src="~/assests/images/chicken-tikka.jpg" />
    <p class="para">Chicken tikka or Murgh tikka is a chicken dish originating in South Asia where it 
    remains popular in Bangladesh, India and Pakistan. It is traditionally small pieces
     of boneless chicken baked using skewers in a clay oven called a tandoor after marinating
     in spices and yogurt—essentially a boneless version of tandoori chicken.
     The word tikka means "bits" or "pieces". It is also a chicken dish served in Punjabi cuisine. 
    The Punjabi version of the dish, however, is grilled over red-hot coals, and does not always
     contain boneless pieces. The pieces are brushed with ghee (clarified butter) at intervals
     to increase its flavour, while being continuously fanned. It is typically eaten with green 
    coriander and tamarind chutney served with onion rings and lemon, or used in preparing a chicken
     tikka masala.
    </p>
    <p>$11.00</p>
</div>

    <div class="col-md-4">
         <p><a class="btn btn-default" href="~/Home/Menu">go back to menu &raquo;</a></p>
    </div>
