@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!--
    Filename=index.cshtml,
    Author's name= Dilpreet Singh,
    website name = indianflame,
    file description = this is website of indian food . this is the index page to display
    restaurent images. all images are copyright of indian flames or thier respective owners.
-->


<address>
    33 Paris St.<br />
    Alliston ON<br />
    <abbr title="Phone">P: 705-796-7880</abbr>
   
</address>
<img src="~/assests/images/map.png" />

<div class="social">
    <p>Keep Connected</p>
    <a href="https://www.facebook.com/Indianflames.ca/?fref=ts"><img src="~/assests/images/fb.png" /></a>
    <a href="https://twitter.com/tandoornflame"><img src="~/assests/images/tw.png" /></a>
</div>
