
@{
    ViewBag.Title = "dalMakhni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Filename=index.cshtml,
    Author's name= Dilpreet Singh,
    website name = indianflame,
    file description = this is website of indian food . this is the index page to display
    restaurent images. all images are copyright of indian flames or thier respective owners.
-->

<div>
<img class="large-image" src="~/assests/images/dal-makhani.jpg" />
<p class="para">
    Dal makhani is a staple in the Indian subcontinent. It was popularized in India
     following partition, when many people from the Punjab migrated to the northern 
    regions of India.As the Punjabi diaspora migrated across India and internationally,
     the dish was introduced to local consumers by entrepreneurial Punjabi migrants Kundan
     Lal Gujaral who opened the Moti Mahal restaurant in Daryaganj, Delhi, India.
     Dal makhani is first created by Sardar Singh now universally recognized as a quintessentially
     Indian dish, and variations of the fare are served in a wide variety of eateries and restaurants
     internationally. Dal Makhani’s popularity is due in part to its versatility and the rich
     vegetarian dish can be served as a main meal, included in a buffet (thali) or as an
     accompaniment to a principal meal. In India, soups and curries with a red or yellow lentil 
    base are an important staple; however, due to dal makhani's rich texture and lengthy preparation
     process, many Indians only consume the dish on days of significance, such as birthdays, national
     holidays, weddings and religious observances
</p>
<p>$13.00</p>
</div>

<div class="col-md-4">
    <p><a class="btn btn-default" href="~/Home/Menu">go back to menu &raquo;</a></p>
</div>


