@{
    ViewBag.Title = "Home Page";
}

<!--
    Filename=index.cshtml,	
    Author's name= Dilpreet Singh,
    website name = indianflame,
    file description = this is website of indian food . this is the index page to display 
    restaurent images. all images are copyright of indian flames or thier respective owners.  
-->

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<!-- using bootstrap classes to construct image and button div -->
<div class="row">
    <div class="col-md-4">
        <img class="main-image" src="~/assests/images/res1.jpg" />
        <p><a class="btn btn-default" href="~/Home/Menu"> View Menu &raquo;</a></p>
    </div>
    <div class="col-md-4">
            <img class="main-image" src="~/assests/images/res2.jpg" />
            <p><a class="btn btn-default" href="~/Home/Menu">View Menu &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="main-image" src="~/assests/images/res3.jpg" />
        <p><a class="btn btn-default" href="~/Home/Menu">View Menu &raquo;</a></p>
    </div>
</div>