@{
    ViewBag.Title = "Home Page";
}

<!--
    Filename=index.cshtml,	
    Author's name= Dilpreet Singh,
    website name = indianflame,
    file description = this is website of indian food . this is the index page to display 
    restaurent images. all images are copyright of indian flames or thier respective owners.  
-->



<!-- using bootstrap classes to construct image and button div -->
<div class="row">
    <div class="col-md-4">
        <img class="main-image" src="~/assests/images/res1.jpg" />
        <p><a class="btn btn-default" href="~/Home/Menu"> View Menu &raquo;</a></p>
    </div>
    <div class="col-md-4">
            <img class="main-image" src="~/assests/images/res2.jpg" />
            <p><a class="btn btn-default" href="~/Home/Menu">View Menu &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="main-image" src="~/assests/images/res3.jpg" />
        <p><a class="btn btn-default" href="~/Home/Menu">View Menu &raquo;</a></p>
    </div>
</div>

<div class="jumbotron">
    <h1>About Indian flame</h1>
    <p class="lead">
        <img id="about" src="~/assests/images/about.jpg" />
    </p>
</div>