
@{
    ViewBag.Title = "mangoLassi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Filename=index.cshtml,
    Author's name= Dilpreet Singh,
    website name = indianflame,
    file description = this is website of indian food . this is the index page to display
    restaurent images. all images are copyright of indian flames or thier respective owners.
-->


<div>
<img class="large-image" src="~/assests/images/MangoLassi.png" />
<p class="para">
    Lassi  is a popular traditional yogurt-based drink from the Indian Subcontinent and originates
     from the Punjab.[1] Lassi is a blend of yogurt, water, spices and sometimes, fruit. Traditional
     lassi (a.k.a., "salted lassi", or simply, "lassi") is a savoury drink, sometimes flavoured with
     ground and roasted cumin. Sweet lassi, however, contains sugar or fruits, instead of spices.
     Salted mint lassi is highly favoured in Bangladesh.

    In Dharmic religions, yogurt sweetened with honey is used while performing 
    religious rituals. Less common is lassi served with milk and topped with a thin layer of clotted
     cream. Lassis are enjoyed chilled as a hot-weather refreshment, mostly taken with lunch.
     With a little turmeric powder mixed in, it is also used as a folk remedy for gastroenteritis. 
    In Pakistan, salted lassi is often served with almost all kinds of meals, and is mostly made
     at home by simply whisking salt in yogurt and water. It is also sold at most dairy shops selling
     yogurt and milk, and both the salty and sweet variety are available.
</p>
<p>$4.00</p>
</div>

<div class="col-md-4">
    <p><a class="btn btn-default" href="~/Home/Menu">go back to menu &raquo;</a></p>
</div>


