@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Menu";
}

<!--
    Filename=index.cshtml,
    Author's name= Dilpreet Singh,
    website name = indianflame,
    file description = this is website of indian food . this is the index page to display
    restaurent images. all images are copyright of indian flames or thier respective owners.
-->


<table>
    <tr>
        <td>
            <div class="col-md-4">
                <img src="~/assests/images/chicken-tikka-s.jpg" />
                <p><a class="btn btn-default" href="~/Home/chickenTikka">View Details &raquo;</a></p>
             </div>
            <p>
                Chicken tikka or Murgh tikka is a chicken dish originating in South Asia where it
                 remains popular in Bangladesh, India and Pakistan.
            </p>

            <p>$14.00</p>
        </td>
        </tr>
    <tr>
        <td>
            <div class="col-md-4">
                <img src="~/assests/images/dal-makhani-s.jpg" />
                <p><a class="btn btn-default" href="~/Home/dalMakhni">View Details &raquo;</a></p>
            </div>
            <p>
                Dal makhani or dal makhni is a popular dish originating from the Punjab region
                of the Indian Subcontinent. The primary ingredients in dal makhani are whole black
                lentil with red kidney beans, butter and cream
            </p>

            <p>$11.00</p>
        </td>
        </tr>
    <tr>
    
        <td>
            <div class="col-md-4">
                <img src="~/assests/images/MangoLassi-s.png" />
                <p><a class="btn btn-default" href="~/Home/mangoLassi">View Details &raquo;</a></p>
            </div>
            <p>
                Lassi is a popular traditional yogurt-based drink from the Indian Subcontinent and originates
                 from the Punjab. Lassi is a blend of yogurt, water, spices and sometimes, fruit
            </p>

            <p>$4.00</p>
        </td>
    </tr>
</table>